dataprov/xml/cwl/cwlCommandLineTool.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="../docker/dockerContainer.xsd"/>
  <xs:complexType name="cwlCommandLineTool">
    <xs:sequence>
      <xs:element name="cwlFile" type="file"/>
      <xs:element name="cwlVersion" type="xs:string"/>
      <xs:element name="command" type="xs:string"/>
      <xs:element name="dockerRequirement" type="dockerContainer" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
