dataprov/xml/cwl/cwlWorkflow.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="cwlCommandLineTool.xsd"/>
  <xs:complexType name="cwlWorkflow">
    <xs:sequence>
      <xs:element name="cwlFile" type="File"/>
      <xs:element name="cwlVersion" type="xs:string"/>
      <xs:element name="workflowSteps" type="cwlCommandLineTool" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
