dataprov/xml/commandLine.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="commandLine">
    <xs:sequence>
      <xs:element name="wrappedCommand" type="xs:string"/>
      <xs:element name="toolPath" type="xs:anyURI"/>
      <xs:element name="toolVersion" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
