dataprov/xml/dataprov_element.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="dataObject.xsd"/>
  <xs:include schemaLocation="history.xsd"/>

  <xs:element name="dataprov">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="target"  type="dataObject"/>
        <xs:element name="history" type="history"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
