dataprov/xml/docker.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="docker/dockerContainer.xsd"/>
  <xs:complexType name="docker">
    <xs:sequence>
      <xs:element name="command" type="xs:string"/>
      <xs:element name="dockerContainer" type="dockerContainer"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
