dataprov/xml/file.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="file">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="uri"  type="xs:anyURI"/>
      <xs:element name="sha1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
